{% extends 'home.html' %}

{% block title %}
Статистика сна
{% endblock %}

{% block content %}
{% load static %}

<div class="container mt-10">
    <div class="row">
        <div class="col-md-10">
            {% if context.html_table_sleep_statistics == None and context.html_table_sleep_record == None %}
            <h1>Статистика сна</h1>
            <p>Для отображения статистики сна необходимо ввести данные. Вы можете <a href="{% url 'add_users_sleep_data' %}">добавить данные о сне</a>.</p>
            {% else %}

            <h2>Статистика сна за последние 10 дней</h2>
            <div >
                <h5>{{ recommended_sleep }}</h5>
            </div>
            <div  class = 'table'>
            {{ context.html_table_sleep_statistics|safe }}
            </div>
        </div>
        <div class="col-md-10">
            <h2>Записи о сне за последние 10 дней</h2>
             <div  class = 'table'>
            {{ context.html_table_sleep_record|safe }}
            </div>
        </div>

            <div class="col-md-10">

                    <input type="hidden" id='graphPhaseChart' value="{{ context2.graph_phase }}" >
                    <input type="hidden" id='graphDurationQualityChart' value="{{ context2.graph_duration_quality  }}">
                    <input type="hidden" id ='graphSleepDeepFastChart' value="{{ context2.graph_sleep_deep_fast }}" >
                    <input type="hidden" id='graphQualityChart' value="{{ context2.graph_quality  }}">
                    <div id='graph-Phase-Chart'></div>
                    <div id='graph-Duration-QualityChart'> </div>
                    <div id ='graph-Sleep-DeepFastChart'></div>
                    <div id='graph-Quality-Chart'></div>
             </div>
            {% endif %}

    </div>
</div>
{% endblock %}

{% block scripts %}

    <script src="https://code.highcharts.com/highcharts.js"></script>

    <script src="{% static 'javascript/graphs.js' %}"></script>


{% endblock %}
